<h2 class="mb-3">Sprawdź informacje Whois</h2>
<form hx-post="/whois_checker" hx-target="#whois-section" hx-swap="afterbegin">
    <div class="input-group mb-2">
        <input type="text" name="domain" placeholder="Wprowadź domenę" class="form-control">
        <button type="submit" class="btn btn-primary">
            Sprawdź
            <span class="spinner-border spinner-border-sm htmx-indicator" role="status" aria-hidden="true"></span>
        </button>
    </div>
</form>

<div class="container" id="whois-section">
    <!-- Wyświetlanie historii zapytań z sesji -->
  <hr>
  <br>
    {% if session['whois_history'] %}
        {% for history_entry in session['whois_history']|reverse %}
            <div class="result-box">
                <h3>Dane Whois dla domeny: <a href="http://{{ history_entry.domain }}" target="_blank"><b>{{ history_entry.domain }}</b></a></h3>
                <p><small>Ostatnie sprawdzenie: <b>{{ history_entry.timestamp }}</b></small></p>

                {% if history_entry.result is string %}
                    <p>{{ history_entry.result }}</p>
                {% else %}
                    <h2>Informacje ogólne</h2>
                    <table class="table table-striped">
                        <tr>
                            <th>Domena</th>
                            <td>{{ history_entry.result.get('domainName', 'Brak danych') }}</td>
                        </tr>
                        <tr>
                            <th>Rejestrator</th>
                            <td>{{ history_entry.result.get('registrarName', 'Brak danych') }}</td>
                        </tr>
                        <tr>
                            <th>Data utworzenia</th>
                            <td>{{ history_entry.result.get('registryData', {}).get('createdDate', 'Brak danych') }}</td>
                        </tr>
                        <tr>
                            <th>Data modyfikacji</th>
                            <td>{{ history_entry.result.get('registryData', {}).get('updatedDate', 'Brak danych') }}</td>
                        </tr>
                        <tr>
                            <th>Data wygaśnięcia</th>
                            <td>{{ history_entry.result.get('registryData', {}).get('expiresDate', 'Brak danych') }}</td>
                        </tr>
                    </table>

                    <h3>Serwery DNS:</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Lp.</th>
                                <th>Nazwa serwera</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ns in history_entry.result.get('registryData', {}).get('nameServers', {}).get('hostNames', []) %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ ns }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <h3>Surowy tekst:</h3>
                    <pre>{{ history_entry.result.get('registryData', {}).get('rawText', 'Brak danych') }}</pre>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>
